
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notifications</title>
</head>
<body>
  <div>This will be used to test notifications.</div>
</body>
</html>
